body{
    margin: 0;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.post__wrapper {
    margin: 30px 0;
}
.button-get-posts {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


.post__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}



/*Create post
========================================*/
.post {
    position: relative;
    max-width: 250px;
    min-height: 400px;
    border: 1px solid #0069ed;
    box-shadow: 0 0 5px #0069ed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
    width: 17%;
    padding: 15px;
}

.post__title {
    color: #0053ba;
    font-family: sans-serif;
    font-size: 23px;
    line-height: 175%;
    text-align: center;
}

.post_btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    transition: all 0.5s;
}


.post_btn:hover, .post_btn:focus {
    background: #0053ba;
    opacity: 0.2;
}

.post_btn:focus {
    display: none;
}

/*Pagination
========================================*/
.post__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.post__btn-page {
    margin: 0 5px;
}

.post__btn-page.active {
    background-color: blueviolet;
}

.post__separator {
    font-size: 30px;
    color: #0069ed;
}


.post__btn-previous {
    font-size: 0;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top: 4px solid #0069ed;
    border-right: 4px solid #0069ed;
    margin-right: 15px;
    transform: rotate(-135deg);
    transition: all 0.2s;

}

.post__btn-previous:hover, .post__btn-previous:focus {
    background: transparent;
    transform: rotate(-135deg);
    border-color: #0053ba;

}

.post__btn-next {
   font-size: 0;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top: 4px solid #0069ed;
    border-right: 4px solid #0069ed;
    transform: rotate(45deg);
    margin-left: 15px;
    transition: all 0.2s;
}

.post__btn-next:hover, .post__btn-next:focus {
    background: transparent;
    transform: rotate(45deg);
    border-color: #0053ba;

}







/*========================================*/